<% for article in articles[0..1] %>
	<div class="span-8">
		<h3 class="padding-left"><%=h article.name %></h3>
		<p class="padding-left"> 
			<%=h article.content %>
		</p>
	</div>
<% end %>

<div class="span-8 last">
	<h3 class="padding-left"><%=h articles[2].name %></h3>
	<p class="padding-left"> 
		<%=h articles[2].content %>
	</p>
	
</div>