<div class="span-24 article-column">
  <div class="photo-gallery">
    <% for photo in articles[0].photos %>
      <%= image_tag(photo.public_filename(:square_thumb)) %>
    <% end %>
  </div>
</div>
