<div class="span-24 article-column">
  <div class="photo-gallery">
    <% for number in ["01", "02", "03"] %>
      <div class="photo-box">
        <img src="/assets/presse-<%= number %>-small.jpg" />
        <div>
          <a href="/assets/presse-<%= number %>.jpg">Hohe Qualität</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
