/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              style.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
-           #
-           #
-           #
***************************************/
body{
    background-color: black !important;
    color:white;
}

/**************************************/
/*              GLOBALS               */
/**************************************/

html, body, .container{
    height:100%;
}

.container{
    min-height:40%;
}

footer{
    margin-top:-40px;
    height:40px !important;
    position: relative;
    clear:both;
}


.horizontal-list li{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

/**************************************/
/*              HEADER                */
/**************************************/



/**************************************/
/*             NAVIGATION             */
/**************************************/



/**************************************/
/*            MAIN CONTENT            */
/**************************************/



/**************************************/
/*               FOOTER               */
/**************************************/

