/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              style.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
-           #
-           #
-           #
***************************************/
body{
    background-color: black !important;
    color:white;
    font-family: Helvetica ,Arial, sans-serif;
}

/**************************************/
/*              GLOBALS               */
/**************************************/

html, body, #main-wrap{
    height:100%;
}

.container{
    min-height:40%;
}

.horizontal-list li{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.float-left{
    float:left;
}

.float-right{
    float:right;
}

/**************************************/
/*              HEADER                */
/**************************************/

header{
    width:1009px;
    height:460px;
    margin:0 auto;
    display: block;
}


/**************************************/
/*             NAVIGATION             */
/**************************************/

.navi{
    margin:-56px 0 0 18px;
}

.navi li{
    display:block;
    margin:0 1px 0 0;
    padding:0;
    height: 22px;
    width: 100px;
    float:left;
}

.navi li:hover;{
    
}
a, a:hover, a:link, a:visited{
    color:white !important;
}

.navi a, .navi a:hover, .navi a:link, .navi a:visited{
    color:white;
    text-decoration:none;
    font-size:10pt;
    display: block;
    padding: 10px 0 10px 12px;
    background-color: transparent;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAFoEvQfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA1JREFUeNpjYGBg8AUAAFIATko91OsAAAAASUVORK5CYII=);
}

.navi a:hover{
    background-color: #000;
}

div.padding-left{
    margin-left:15px;
}

h3.padding-left{
    padding-left:15px;
    border-left: 1px solid white;
}

/**************************************/
/*            MAIN CONTENT            */
/**************************************/

article p{
    color:#717171;
}

article h4{
    font-size: 10pt !important;
    margin: 0 0 5px 0;
}

.secondary-article{
    padding:8px;
}

.secondary-article, .secondary-article p, .more, .more a {
    color:white !important;
    background-color:#202020;
}

.more{
    float:right;
    clear:both;
    padding: 2px 5px;
    font-size: 8pt;
    position: relative;
    top:-25px;
}

.article, .secondary-article{
    min-height: 180px;
}


/**************************************/
/*               FOOTER               */
/**************************************/
footer{
    margin:-40px auto 20px auto;
    height:40px !important;
    position: relative;
    clear:both;
    width:950px;
    display: block;
}