/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              style.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
-           #
-           #
-           #
***************************************/
body{
    background-color: black !important;
    color:white;
    font-family: Helvetica ,Arial, sans-serif;
}

/**************************************/
/*              GLOBALS               */
/**************************************/

html, body, .container{
    height:100%;
}

.container{
    min-height:40%;
}

.horizontal-list li{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}


/**************************************/
/*              HEADER                */
/**************************************/



/**************************************/
/*             NAVIGATION             */
/**************************************/

.navi{
    margin:-2.6em 0 0 0;
}

.navi li{
    padding:0.6em;
    margin:0.3em 3em 0.3em 0;
}

.navi li:hover{
    background-color: #535353;
}

.navi a, .navi a:hover, .navi a:link, .navi a:visited{
    color:white;
    text-decoration:none;
}
.navi a:hover{
    background-color: inherit;
}

.padding-left{
    padding-left:15px;
}

h3.padding-left{
    border-left: 1px solid white;
}

/**************************************/
/*            MAIN CONTENT            */
/**************************************/



/**************************************/
/*               FOOTER               */
/**************************************/
footer{
    margin-top:-40px;
    height:40px !important;
    position: relative;
    clear:both;
}

