/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
   style.css
   BlueTrip CSS Framework
   Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
-           #
-           #
-           #
 ***************************************/
body{
  background-color: black !important;
  color:white;
  font-family: Helvetica ,Arial, sans-serif;
}

/**************************************/
/*              GLOBALS               */
/**************************************/

html, body, #main-wrap{
  height:100%;
}

.container{
  min-height:40%;
}

.horizontal-list li{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.float-left{
  float:left;
}

.float-right{
  float:right;
}

/**************************************/
/*              HEADER                */
/**************************************/

header{
  width:1009px;
  height:460px;
  margin:0 auto;
  display: block;
  position:relative;
}

header img{
  position:absolute;
  top:0;
  z-index:0;
}


/**************************************/
/*             NAVIGATION             */
/**************************************/

.navi{
  z-index: 5;
  position:absolute;
  top:405px;
}


.navi li{
  display:block;
  margin:0 1px 0 0;
  padding:0;
  height: 22px;
  width: 100px;
  float:left;
}

.navi li:hover;{

}
a, a:hover, a:link, a:visited{
  color:white !important;
}

.navi a, .navi a:hover, .navi a:link, .navi a:visited{
  color:white;
  text-decoration:none;
  font-size:10pt;
  display: block;
  padding: 10px 0 10px 12px;
  background-color: transparent;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAFoEvQfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA1JREFUeNpjYGBg8AUAAFIATko91OsAAAAASUVORK5CYII=);
}

.navi a:hover{
  background-color: #000;
}

div.padding-left{
  margin-left:15px;
}

h3.padding-left, h1.padding-left{
  padding-left:15px;
  border-left: 1px solid white;
}

/**************************************/
/*            MAIN CONTENT            */
/**************************************/

article p{
  color:#717171;
}

article h4{
  font-size: 10pt !important;
  margin: 0 0 5px 0;
}

.secondary-article{
  padding:8px;
  padding-bottom:none; 
  height: 204px;
  overflow: hidden;
}

.secondary-article, .secondary-article p, .more, .more a {
  color:white !important;
  background-color:#202020;
}

.secondary-article img{
  float:left;
  padding: 3px 8px 0 0;
}

.more{
  background-image: url("assets/gruenerpfeil.png");
  background-repeat: no-repeat;
  background-position: 8px center;
  float:right;
  clear:both;
  padding: 2px 10px 2px 20px;
  font-size: 7pt;
  position: relative;
  margin: 13px 0 15px 0;
  clear:both;
}

div.secondary-article + .more{
  position:relative;
  top:-25px;
  margin:0;
}

.article{
  height:182px;
  overflow:hidden;
}


.photo-gallery div.photo-box{
  float:left;
  width:220px;
  padding-right:20px;
}

.photo-gallery div a{
  font-size:x-small;
  clear:both;
}

/**************************************/
/*               FOOTER               */
/**************************************/
footer{
  margin:-40px auto 0 auto;
  height:40px !important;
  position: relative;
  clear:both;
  width:950px;
  display: block;
}

footer img{
  vertical-align:middle;
}
